<%= currently_at t('.title') %>
<%= corrigir_erros @user.errors.any? %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
  wrapper_mappings: {
      radio_buttons: :vertical_radio_and_checkboxes
  }) do |f| %>
  <%= titulo t('.title') %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :email, required: true %>
  <%= f.input :gender, collection: [t('sexo.masculino'), t('sexo.feminino')], as: :radio_buttons %>
  <%= f.input :date_of_birth, as: :string,
              input_html: { 'value' => resource.date_of_birth.blank? ? '' : l(resource.date_of_birth, format: :default) } %>
  <%= f.input :password, autocomplete: 'off', required: false %>
  <%= f.input :password_confirmation, required: false %>
  <%= f.input :current_password, required: true %>
  <%= botao t('.submit') %>
  <%= botao_cancelar root_path %>
<% end %>
<h3><%= t('.cancel.action') %></h3>
<p>
  <%= t('.cancel.unhappy') %>
  <%= link_to t('.cancel.action'), registration_path(resource_name), class: 'btn btn-danger',
              data: { confirm: t('.cancel.confirm') }, method: :delete %>
</p>
