<%= currently_at t('.title') %>
<%= corrigir_erros @user.errors.any? %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
      wrapper_mappings: {
          radio_buttons: :vertical_radio_and_checkboxes
      }) do |f| %>
      <%= titulo t('.title') %>
      <%= f.input :name, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :gender, collection: [t('sexo.masculino'), t('sexo.feminino')], as: :radio_buttons %>
      <%= f.input :date_of_birth, as: :string, input_html: { class: 'inputmask' } %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= botao t('.submit'), class: 'btn btn-lg btn-success btn-block' %>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>
