<%= currently_at t('.title') %>
<h2><%= t('.title') %></h2>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <% if f.full_error :unlock_token %>
    <div class="error"><%= f.full_error :unlock_token %></div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'radius', data: { disable_with: t('disable_with') } %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>