<p>Prezado(a) <%= @correspondencia.morador.nome %>,</p>

<p>Informamos que está disponível uma correspondência/encomenda a ser retirada na portaria do <%= @correspondencia.company.name %>.</p>

<p>Dados da Correspondência:</p>

<p>Data Chegada:</p>
<p><%= Util.formatar_data_hora( @correspondencia.data_chegada ) %></p>
<p>-------------------------------------------------</p>
<p>Remetente:</p>
<p><%= @correspondencia.remetente %></p>
<p>-------------------------------------------------</p>
<p>Destinatário:</p>
<p><%= @correspondencia.morador.nome %></p>
<p>-------------------------------------------------</p>
<p>Unidade / Tipo Unidade:</p>
<p><%= @correspondencia.morador.unidade.nome %> / <%= @correspondencia.morador.unidade.tipos_unidade.nome %></p>
<p>-------------------------------------------------</p>
<p>Código Identificador:</p>
<p><%= @correspondencia.codigo_identificador %></p>
<p>-------------------------------------------------</p>
<p>Conteúdo:</p>
<p><%= @correspondencia.conteudo %></p>
<p>-------------------------------------------------</p>
<p>Observação:</p>
<p><%= @correspondencia.observacao %></p>
<p>-------------------------------------------------</p>


<p>Atenciosamente,</p>

<p><%= @correspondencia.company.name %></p>


<p>Você também pode acessar ou se cadastrar para visualizar essa informação em:</p>

<p>http://www.condominiosimples.com.br</p>