<%= currently_at t('recursos_categorias.menu') %>
<%- model_class = RecursoCategoria -%>
<%= titulo t('recursos_categorias.menu') %>

<div class="row">
  <div class="col-xs-6"><%= botao_incluir 'recursos_categorias', model_class %></div>
  <div class="col-xs-6">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<%= t('titles.download_registros')%>">
        <%= raw('<i class="fa fa-download fa-lg"></i> ') + t('links.download') + ' ' %><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><%= link_to t('labels.download_excel'), recursos_categorias_path(format: 'xls') %></a></li>
      </ul>
    </div>
  </div>
</div>

<%= render 'shared/campo_buscar', model_class: model_class, url: recursos_categorias_path %>

<%= page_entries_info @recursos, model: model_class %>

<% if not @recursos_categorias.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= model_class.human_attribute_name(:nome) %></th>
        </tr>
      </thead>
      <tbody>
        <% @recursos_categorias.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_recurso_categoria_path(registro), model_class %>
              <%= botao_excluir registro, model_class %>
            </td>
            <td><%= registro.nome %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>
