<%= currently_at t('activerecord.models.contato.other') %>
<%- model_class = Contato -%>
<% breadcrumb :contatos %>
<%= titulo icon('bullhorn fa-lg', t('activerecord.models.contato.other')) %>

<%= render 'shared/botoes_incluir_e_download', controller: nil, model: nil,
           url_xls: contatos_path(format: 'xlsx'), url_pdf: nil %>

<%= page_entries_info @contatos, model: model_class %>

<% unless @contatos.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%=  model_class.human_attribute_name(:created_at) %></th>
          <th><%=  model_class.human_attribute_name(:nome) %></th>
          <th><%=  model_class.human_attribute_name(:email) %></th>
          <th><%=  model_class.human_attribute_name(:telefones) %></th>
          <th><%=  model_class.human_attribute_name(:ip) %></th>
          <th><%=  model_class.human_attribute_name(:mensagem) %></th>
        </tr>
      </thead>
      <tbody>
        <% @contatos.each do |registro| %>
          <tr>
            <td><%= l(registro.created_at, format: :data_hora) %></td>
            <td><%= registro.nome %></td>
            <td><%= registro.email %></td>
            <td><%= registro.telefones %></td>
            <td><%= registro.ip %></td>
            <td><%= registro.mensagem %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>