<%= currently_at t('users.menu') %>
<legend><%= t('.titulo') %></legend>
<%= corrigir_erros @user.errors.any? %>
<%= simple_form_for(@ingresso, :url => user_path(@ingresso),
                    :html => { :method => :put, class: "well" }, defaults: { input_html: { class: 'input-xxlarge' } }) do |f| %>
  <fieldset class='form-inputs'>
    <div class="control-group string required local_nome">
      <label class="string required control-label" for="local_nome">Nome</label>
      <div class="controls">
        <input class="string required input-xxlarge" readonly="readonly" size="50" type="text" value="<%= @user.name %>" />
      </div>
    </div>
    <%= f.association :perfil, label_method: :nome_descricao, collection: @condo.perfil.order(:nome), as: :check_boxes %>
  </fieldset>
  <fieldset class='controls'>
    <%= button_tag (raw('<i class="icon-ok"></i> ') + t('salvar')),
                   class: 'btn btn-success', disable_with: t('disable_with') %>
    <%= link_to raw('<i class="icon-remove"></i> ') + t('cancelar'), users_path, class: 'btn btn-danger' %>
  </fieldset>
<% end %>