<%= currently_at t('users.menu') %>
<%= corrigir_erros @user.errors.any? %>
<legend><%= t('.titulo') %></legend>
<%= simple_form_for(@user, html: { class: 'well' }, defaults: { input_html: { class: 'input-xxlarge' } }) do |f| %>
  <div class='form-inputs'>
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email, required: true %>
  </div>
  <div class='controls'>
    <%= button_tag (raw('<i class="icon-ok"></i> ') + t('salvar')),
                   class: 'btn btn-success', disable_with: t('disable_with') %>
    <%= link_to raw('<i class="icon-remove"></i> ') + t('cancelar'), locais_path, class: 'btn btn-danger' %>
  </div>
<% end %>