<%= corrigir_erros @peso.errors.any? %>
<%= simple_form_for(@peso) do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.input :data, as: :string, input_html: { class: 'datepicker inputmask', value: "#{l @peso.data}" } %>
    </div>
    <div class="col-sm-4">
      <%= f.input :altura %>
    </div>
    <div class="col-sm-4">
      <%= f.input :valor, autofocus: true %>
    </div>
  </div>
  <%= botao_salvar %>
  <%= botao_cancelar pesos_path %>
<% end %>
