<%= currently_at t('pesos.menu') %>
<%- model_class = Peso -%>
<%= titulo raw('<i class="fa fa-cutlery"></i> ') + page_entries_info(@pesos, model: model_class) %>

<%= high_chart('chart', @chart) %>

<p><%= botao_incluir 'pesos', model_class %></p>

<% if not @pesos.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= model_class.human_attribute_name(:data) %></th>
          <th><%= model_class.human_attribute_name(:altura) %></th>
          <th><%= model_class.human_attribute_name(:peso) %></th>
          <th><%= model_class.human_attribute_name(:peso_ideal) %></th>
          <th><%= model_class.human_attribute_name(:situacao_imc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @pesos.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_peso_path(registro), model_class %>
              <%= botao_excluir registro, l(registro.data), model_class %>
            </td>
            <td><%= l(registro.data, format: :default) %></td>
            <td><%= registro.altura_br %></td>
            <td><%= registro.peso_br %></td>
            <td><%= registro.peso_ideal %></td>
            <td><%= registro.situacao_imc %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>
