<%= currently_at t('activerecord.models.peso.other') %>
<%- model_class = Peso -%>
<%= titulo icon('line-chart', model_class.model_name.human) %>

<%= render 'shared/botoes_incluir_e_download', controller: 'pesos', model: model_class,
           url_xls: pesos_path(format: 'xls'), url_pdf: pesos_path(format: 'pdf') %>

<br />
<%= page_entries_info @pesos, model: model_class %>

<% if not @pesos.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= sortable model_class, 'data' %></th>
          <th><%= sortable model_class, 'altura' %></th>
          <th><%= sortable model_class, 'peso' %></th>
          <th><%= model_class.human_attribute_name(:peso_ideal) %></th>
          <th><%= model_class.human_attribute_name(:situacao_imc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @pesos.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_peso_path(registro), model_class %>
              <%= botao_excluir registro, model_class, { registro_nome: l(registro.data) } %>
            </td>
            <td><%=l registro.data %></td>
            <td><%= numero_formatado(registro.altura) %></td>
            <td><%= numero_formatado(registro.peso) %></td>
            <td><%= registro.peso_ideal %></td>
            <td><%= situacao_imc registro.imc %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>
