<%= currently_at t('acoes.menu') %>
<%- model_class = Acao -%>
<%= titulo raw('<i class="glyphicon glyphicon-cog"></i> ') +  model_class.model_name.human %>

<div class="row">
  <div class="col-xs-6"><%= botao_incluir 'acoes', model_class %></div>
  <div class="col-xs-6">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="<%= t('titles.download_registros')%>">
        <%= raw('<i class="fa fa-download fa-lg"></i> ') + t('links.download') + ' ' %><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#"><%= link_to t('labels.download_excel'), acoes_path(format: 'xls') %></a></li>
      </ul>
    </div>
  </div>
</div>

<br />

<div class="row">
  <%= form_tag acoes_path, method: :get, id: 'acoes_search' do %>
    <div class="col-xs-4">
      <%= text_field_tag :search, params[:search], class: 'form-control',
                         placeholder: t('titles.buscar_por', atributo: model_class.human_attribute_name(:nome)) %>

    </div>
    <div class="col-xs-1">
      <%= button_tag (raw('<i class="glyphicon glyphicon-search"></i> ')),
                     title: t('titles.buscar_por', atributo: model_class.human_attribute_name(:nome)),
                     class: 'btn btn-primary', id: 'find' %>
    </div>
  <% end %>
  <div class="col-xs-7 pull-left">
<%= limpar_filtro(acoes_path) %>
  </div>
</div>

<br />

<%= page_entries_info @acoes, model: model_class %>

<% if not @acoes.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= sortable model_class, 'nome' %></th>
        </tr>
      </thead>
      <tbody>
        <% @acoes.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_acao_path(registro), model_class %>
              <%= botao_excluir registro, model_class %>
            </td>
            <td><%= registro.nome %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>