<%= currently_at 'Home' %>
<div class="jumbotron">
  <p><%= t('.texto_principal') %></p>
  <p>
    <%= botao_link t('links.cadastrar'), new_user_registration_path, class: 'btn btn-success' %>
    <%= botao_link t('links.entrar'), new_user_session_path %>
  </p>
</div>
<div class="row">
  <div class="col-sm-4">
    <h3><%= t('.destaque_1_titulo') %></h3>
    <p><%= t('.destaque_1_texto') %></p>
  </div>
  <div class="col-sm-4">
    <h3><%= t('.destaque_2_titulo') %></h3>
    <p><%= t('.destaque_2_texto') %></p>
  </div>
  <div class="col-sm-4">
    <h3><%= t('.destaque_3_titulo') %></h3>
    <p><%= t('.destaque_3_texto') %></p>
  </div>
</div>
