<%= corrigir_erros registro.errors.any? %>
<%= simple_form_for(registro) do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :data, as: :string, autofocus: true, input_html: { class: 'datepicker inputmask_data', value: "#{data_formatada(registro.data)}" } %>
    </div>
    <div class="col-sm-6">
      <%= f.input :descricao %>
    </div>
  </div>

  <legend>Valores de Exames</legend>
  <div class="row">
    <div class="col-xs-5">
      <label>Exame</label>
    </div>
    <div class="col-xs-5">
      <label>Valor</label>
    </div>
    <div class="col-xs-2">
      <label>Excluir</label>
    </div>
  </div>

  <%= f.nested_fields_for :exame_resultado do |builder| %>
    <div class="row">
      <div class="col-xs-5">
        <%= builder.association :exame, collection: @exames, label_method: :nome, label: false %>
      </div>
      <div class="col-xs-5">
        <%= builder.input :valor, label: false, input_html: { class: 'inputmask_resultado' } %>
      </div>
      <div class="col-xs-2">
        <%= builder.remove_nested_fields_link icon('trash-o fa-lg') %>
      </div>
      <%= javascript_tag 'resultado_inputmask()' %>
    </div>
  <% end %>

  <p><%= f.add_nested_fields_link :exame_resultado, icon('plus fa-lg', t('.incluir_resultado_exame')) %></p>
  <hr />

  <%= botao_salvar %>
  <%= botao_cancelar resultados_path %>
<% end %>
