<%= corrigir_erros registro.errors.any? %>
<%= simple_form_for(registro) do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :data, as: :string, autofocus: true, input_html: { class: 'datepicker inputmask_data', value: "#{data_formatada(registro.data)}" } %>
    </div>
    <div class="col-sm-6">
      <%= f.input :descricao %>
    </div>
  </div>

  <legend>Valores de Exames</legend>
  <div class="row">
    <div class="col-xs-7">
      <label>Exame</label>
    </div>
    <div class="col-xs-3">
      <label>Valor</label>
    </div>
    <div class="col-xs-2">
      <label>Excluir</label>
    </div>
  </div>

  <%= f.nested_fields_for :exame_resultado do |builder| %>
    <div class="row">
      <div class="col-xs-7">
        <%= builder.association :exame, collection: @exames, label_method: :obter_hierarquia, label: false %>
      </div>
      <div class="col-xs-3">
        <%= builder.input :valor, label: false, input_html: { class: 'inputmask_resultado' } %>
      </div>
      <div class="col-xs-2">
        <%= builder.remove_nested_fields_link icon('trash-o fa-lg') %>
      </div>
      <%= javascript_tag 'resultado_inputmask()' %>
    </div>
  <% end %>

  <% unless @exames.empty? %>
      <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped">
          <thead>
          <tr>
            <th><%= t('bootstrap.actions') %></th>
            <th><%= model_class.human_attribute_name(:nome) %></th>
            <th><%= model_class.human_attribute_name(:nome) %></th>
          </tr>
          </thead>
          <tbody>
          <% @exames.each do |registro| %>
              <tr>
                <td width="100">
                  <%= botao_alterar registro, edit_exame_path(registro), model_class %>
                  <%= botao_excluir registro, model_class %>
                </td>
                <td><%= registro.obter_hierarquia %></td>
                <td><%= registro.unidade_nome %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>



  <p><%= f.add_nested_fields_link :exame_resultado, icon('plus fa-lg', t('.incluir_resultado_exame')) %></p>
  <hr />

  <%= botao_salvar %>
  <%= botao_cancelar resultados_path %>
<% end %>
