<%= corrigir_erros registro.errors.any? %>
<%= simple_form_for(registro) do |f| %>
  <%= f.input :exame_nome, autofocus: true, input_html: { data: { autocomplete_source: exames_path } } %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :data, as: :string, input_html: { class: 'datepicker inputmask', value: "#{data_formatada(registro.data)}" } %>
    </div>
    <div class="col-sm-6">
      <%= f.input :valor, autofocus: true, input_html: { class: 'inputmask_resultado' } %>
    </div>
  </div>

  <%= botao_salvar %>
  <% if !exame.nil? %>
    <%= botao_cancelar resultado_path(exame) %>
  <% elsif !registro.exame.nil? %>
    <%= botao_cancelar resultado_path(registro.exame) %>
  <% else %>
    <%= botao_cancelar resultados_path %>
  <% end %>
<% end %>
