<%= currently_at t('activerecord.models.resultado.other') %>
<%- model_class = Resultado -%>
<%= titulo icon('book', t('activerecord.models.resultado.other')) %>

<%= render 'shared/botoes_incluir_e_download', controller: 'resultados', model: model_class,
           url_xls: resultados_path(format: 'xls'), url_pdf: resultados_path(format: 'pdf') %>

<br />
<%#= page_entries_info @resultados, model: model_class %>

<% if not @resultados.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= sortable model_class, 'exames.nome' %></th>
        </tr>
      </thead>
      <tbody>
        <% @resultados.each do |registro| %>
          <tr>
            <td width="100">
            </td>
            <td><%= link_to registro.nome, resultado_path(registro.exame_id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%#= will_paginate %>
