<%- model_class = Resultado -%>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= t('activerecord.models.resultado.other') %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:data) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:nome) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:valor) %></Data></Cell>
      </Row>
    <% @resultados.each do |registro| %>
      <Row>
        <Cell><Data ss:Type="String"><%=l registro.data %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registro.exame.nome %></Data></Cell>
        <Cell><Data ss:Type="String"><%= numero_formatado registro.valor %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>