<%= currently_at t('activerecord.models.resultado.other') %>
<%- model_class = Resultado -%>
<% breadcrumb :resultados %>
<%= titulo icon('file-text-o', t('activerecord.models.resultado.other')) %>

<p><%= render 'shared/botoes_incluir_e_download', controller: 'resultados', model: model_class,
           url_xls: nil, url_pdf: nil %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <h4><%= " #{ t('links.buscar') } #{ t('activerecord.models.resultado.other') } "%></h4>
    <%= form_tag resultados_path, method: :get, id: 'resultados_search' do %>
      <div class="row">
        <div class="form-group col-xs-6 col-sm-6 col-md-3">
          <label for="nomeInput"><%= t('labels.data_inicial') %></label>
          <%= text_field_tag :data_inicial, params[:data_inicial], class: 'form-control datepicker inputmask_data' %>
        </div>
        <div class="form-group col-xs-6 col-sm-6 col-md-3">
          <label for="nomeInput"><%= t('labels.data_final') %></label>
          <%= text_field_tag :data_final, params[:data_final], class: 'form-control datepicker inputmask_data' %>
        </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
          <label for="nomeInput"><%= model_class.human_attribute_name(:descricao) %></label>
          <%= text_field_tag :descricao, params[:descricao], { id: 'descricaoInput', class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <p><%= botao t('links.buscar'), class: 'btn btn-primary' %>&nbsp;&nbsp;<%= limpar_filtro(resultados_path, params) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= page_entries_info @resultados, model: model_class %>
<% unless @resultados.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= model_class.human_attribute_name(:data) %></th>
          <th><%= model_class.human_attribute_name(:descricao) %></th>
        </tr>
      </thead>
      <tbody>
        <% @resultados.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_resultado_path(registro), model_class %>
              <%= botao_excluir registro, model_class %>
            </td>
            <td><%= l registro.data %></td>
            <td><%= registro.descricao %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>
