<%= corrigir_erros registro.errors.any? %>
<%= simple_form_for registro do |f| %>
  <div class="row">
    <div class="col-xs-4">
      <%= f.input :nome, autofocus: true %>
    </div>
    <div class="col-xs-4">
      <%= f.association :unidade, collection: Unidade.order(:nome), label_method: :nome,
                              allow_blank: true %>
    </div>
    <div class="col-xs-4">
      <%= f.input :parent_id, collection: Exame.arrange_as_array({order: :nome}, @exame.possible_parents),
          value_method: :id,
          label_method: :name_for_selects,
          include_blank: true %>
    </div>
  </div>

  <%= f.nested_fields_for :valor do |builder| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('activerecord.models.valor.one') %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-3">
            <%= builder.input :valor_inferior, as: :string %>
          </div>
          <div class="col-xs-3">
            <%= builder.input :valor_superior %>
          </div>
          <div class="col-xs-4">
            <%= builder.association :referencia, collection: Referencia.order(:nome), label_method: :nome,
                              allow_blank: true %>
          </div>
          <div class="col-xs-2">
            <%= builder.input :valido, as: :boolean, boolean_style: :inline %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <%= builder.input :idade_inferior %>
          </div>
          <div class="col-xs-4">
            <%= builder.input :idade_superior %>
          </div>
          <div class="col-xs-4">
            <%= builder.input :sexo, allow_blank: true, collection: Valor::SEXO %>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <%= builder.remove_nested_fields_link icon('trash-o fa-lg', t('.excluir_valor_referencia')) %>
      </div>
    </div>
  <% end %>

  <p><%= f.add_nested_fields_link :valor, icon('plus fa-lg', t('.incluir_valor_referencia')) %></p>
  <hr />
  <%= botao_salvar %>
  <%= botao_cancelar url_cancelar %>
<% end %>