<%= corrigir_erros registro.errors.any? %>
<%= simple_form_for registro do |f| %>
  <%= f.input :nome, autofocus: true %>


  <%= f.nested_fields_for :valores_referencias do |builder| %>


    <div class="panel panel-default">
      <div class="panel-heading">
        <%= builder.remove_nested_fields_link icon('trash-o fa-lg', 'Valor de referencia') %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-3">
            <%= builder.input :idade_inferior %>
          </div>
          <div class="col-xs-3">
            <%= builder.input :idade_superior %>
          </div>
          <div class="col-xs-3">
            <%= builder.input :valor_inferior %>
          </div>
          <div class="col-xs-3">
            <%= builder.input :valor_superior %>
          </div>
        </div>
      </div>
    </div>



  <% end %>

  <p><%= f.add_nested_fields_link :valores_referencias, icon('plus fa-lg', 'Adicionar') %></p>

  <%= botao_salvar %>
  <%= botao_cancelar url_cancelar %>
<% end %>