<% content_for :main_navigation do %>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= icon('cog fa-lg', t('links.administracao')) %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%= nav_tab icon('flask', t('activerecord.models.exame.other')), exames_path,
                          { current: current_tab, titulo: t('activerecord.models.exame.other') } %>
              <%= nav_tab icon('book', t('activerecord.models.referencia.other')), referencias_path,
                          { current: current_tab, titulo: t('activerecord.models.referencia.other') } %>
              <%= nav_tab icon('superscript', t('activerecord.models.unidade.other')), unidades_path,
                          { current: current_tab, titulo: t('activerecord.models.unidade.other') } %>
              <li class="divider"></li>
              <%= nav_tab icon('wrench', t('acoes.menu')), acoes_path, { current: current_tab, titulo: t('acoes.menu') } %>
              <%= nav_tab icon('cogs', t('controladores.menu')), controladores_path,
                          { current: current_tab, titulo: t('controladores.menu') } %>
              <li class="divider"></li>
              <%= nav_tab icon('list-alt', t('recursos_categorias.menu')), recursos_categorias_path,
                          { current: current_tab, titulo: t('recursos_categorias.menu') } %>
              <%= nav_tab icon('tasks', t('recursos.menu')), recursos_path, { current: current_tab, titulo: t('recursos.menu') } %>
              <li class="divider"></li>
              <%= nav_tab icon('bullhorn', t('contatos.menu')), contatos_path, { current: current_tab, titulo: t('contatos.menu') } %>
              <%= nav_tab icon('bug', t('erros.menu')), erros_path, { current: current_tab, titulo: t('erros.menu') } %>
              <%= nav_tab icon('users', t('users.menu')), users_path, { current: current_tab, titulo: t('users.menu') } %>
            </ul>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= icon('bars fa-lg', t('links.menu')) %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= nav_tab icon('dashboard', t('dashboard.menu')), dashboard_index_path,
                        { current: current_tab, titulo: t('dashboard.menu') } %>
            <%= nav_tab raw('<i class="fa fa-cutlery"></i> ') + t('pesos.menu'), pesos_path, { current: current_tab, titulo: t('pesos.menu') } %>
            <%= nav_tab icon('file-text-o', t('activerecord.models.resultado.other')), resultados_path,
                        { current: current_tab, titulo: t('activerecord.models.resultado.other') } %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= icon('user fa-lg', current_user.email) %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= nav_tab icon('cog', t('devise.registrations.edit.title')), edit_user_registration_path,
                        { current: current_tab, titulo: t('devise.registrations.edit.title') } %>
            <li class="divider"></li>
            <li><%= link_to icon('sign-out', t('.sair')), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <%= nav_tab icon('plus fa-lg', t('devise.registrations.new.title')), new_user_registration_path,
                    { current: current_tab, titulo:t('devise.registrations.new.title') } %>
        <%= nav_tab icon('sign-in fa-lg', t('devise.sessions.new.title')), new_user_session_path,
                    { current: current_tab, titulo: t('devise.sessions.new.title') } %>
      <% end %>
    </ul>
  </div>
<% end %>
