<% content_for :top_navigation do %>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <% if user_signed_in? %>
        <%= nav_tab raw('<i class="icon-food"></i> ') + t('pesos.menu'), pesos_path, { current: current_tab } %>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">
            <i class="icon-user"></i> <%= current_user.email %>
          </a>
          <ul class="dropdown">
            <%= nav_tab raw('<i class="icon-edit"></i> ') + t('devise.registrations.edit.title'), edit_user_registration_path, { current: current_tab, titulo: t('devise.registrations.edit.title') } %>
            <li class="divider"></li>
            <li><%= link_to raw('<i class="icon-off"></i> ') + t('.sair'), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <%= nav_tab raw('<i class="icon-plus"></i> ') + t('devise.registrations.new.title'), new_user_registration_path, { current: current_tab, titulo:t('devise.registrations.new.title') } %>
        <li class="divider"></li>
        <%= nav_tab raw('<i class="icon-lock"></i> ') + t('devise.sessions.new.title'), new_user_session_path, { current: current_tab, titulo: t('devise.sessions.new.title') } %>
      <% end %>
  </section>
<% end %>